body			{ margin: 0; 
			  font-family: serif;
			  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
			  font-size: 12pt;
			  font-style: normal;
			  font-variant: normal;
			  font-weight: 400;
			  line-height: 18pt; }
h1 			{ font-family: Georgia, Times, Times New Roman, serif;
			  font-size: 24pt;
			  font-style: normal;
			  font-variant: normal;
			  font-weight: normal;
			  line-height: 26.4pt; }
pre			{ padding: 1em 4%; 
			  background-color: #333; 
			  font-family: monospace;
			  color: #eee; }
.nm			{ font-style: italic; }
header .nm		{ font-style: normal;
			  color: #333; }
header nav span	+ span	{ border-left: thin solid #888; 
			  margin-left: 1ex;
			  padding-left: 1ex; }
header nav a		{ color: #222; 
			  display: inline-block;
			  margin-right: 1ex;
			  text-shadow: 1px 1px #ccc; }
header nav a:hover	{ color: #000;
			  text-shadow: 1px 1px #eee; }
header h1		{ margin: 0.5ex 0; }
a			{ text-decoration: none; }		  
pre.prettyprint		{ border: none; 
			  line-height: 130%;
			  margin: 0; 
			  overflow: hidden;
			  box-shadow: 0px 1px 2px #888;
			  width: auto; }
pre.prettyprint a	{ font-style: italic; }
pre.prettyprint a:hover	{ font-style: italic; }
pre, code		{ font-size: 10pt; 
			  font-family: monospace; }
pre			{ margin: 0; }
pre a			{ color: yellow; }
#codesample		{ box-shadow: 0px -1px 2px #333; }
header			{ text-align: center; 
			  background-color: #eee;
			  padding: 1em 0; }
header > div > *	{ display: inline-block; 
			  margin: 0; }
nav[data-sblg-nav], p	{ padding: 0 4%; 
			  line-height: 120%; }
figure			{ margin: 0; }
#gallery		{ display: table; 
			  background-color: #eee;
			  padding-top: 1ex;
			  text-align: center; }
#gallery div		{ display: table-cell; 
			  text-align: center;
			  width: 16.6%; }
#gallery a:hover img	{ box-shadow: 1px 1px 2px #333; }
#gallery img		{ background-color: #fff; 
			  border-radius: 4px;
			  border: thin solid silver;
			  box-shadow: 1px 1px 2px #aaa;
			  width: 85%; }
figcaption		{ background-color: #ddd; 
			  padding: 1ex 4%; }
footer			{ text-align: center;
			  color: #666;
			  font-size: 11pt;
			  padding: 1em 0; }
footer a		{ color: #000; }
nav[data-sblg-nav] ul	{ list-style-type: none; 
			  padding: 0;
			  margin: 0; }
nav[data-sblg-nav] li	{ margin-bottom: 1em; }
nav[data-sblg-nav] li > div:last-child
			{ margin-left: 3ex; }
footer img		{ margin-bottom: -8px; }
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
h1			{ font-size: 17pt; }
nav a span		{ display: none; }
pre			{ font-size: 8pt; }
}
